<header>
    <form action="/createtodo" method="get"><input type="submit" class="btn btn-primary" value="Create new todo"></form>
    <form id="theme" action="/switchTheme" method="get"><input type="submit" class="btn btn-primary" value="Toggle style"></form>
</header>
<div class="button-container">
    <a class="btn btn-primary {{#if_eq orderBy "title"}}active{{/if_eq}}" href="?orderBy=title&orderDirection={{orderDirection}}">By Title{{#if_eq orderBy "title"}}{{#if_eq orderDirection 1}} ▲{{else}} ▼{{/if_eq}}{{/if_eq}}</a>
    <a class="btn btn-primary {{#if_eq orderBy "due"}}active{{/if_eq}}" href="?orderBy=due&orderDirection={{orderDirection}}">By Due Date{{#if_eq orderBy "due"}}{{#if_eq orderDirection 1}} ▲{{else}} ▼{{/if_eq}}{{/if_eq}}</a>
    <a class="btn btn-primary {{#if_eq orderBy "create"}}active{{/if_eq}}" href="?orderBy=create&orderDirection={{orderDirection}}">By Creation Date{{#if_eq orderBy "create"}}{{#if_eq orderDirection 1}} ▲{{else}} ▼{{/if_eq}}{{/if_eq}}</a>
    <a class="btn btn-primary {{#if_eq orderBy "importance"}}active{{/if_eq}}" href="?orderBy=importance&orderDirection={{orderDirection}}">By Importance{{#if_eq orderBy "importance"}}{{#if_eq orderDirection 1}} ▲{{else}} ▼{{/if_eq}}{{/if_eq}}</a>
    <a class="btn btn-primary {{#if_eq showFinished "false"}}active{{/if_eq}} right_align_button" href="?showFinished={{#if_eq showFinished "true"}}false{{else}}true{{/if_eq}}">Filter Completed</a>
</div>
<main>
    {{#each todos}}
        <div id="todo-list">
            <div id="todo-id">
                {{format_date_for_display due}}
            </div>
            <div id="todo-title">
                {{title}}
            </div>
            <div id="todo-importance">
                {{create_importance importance}}
            </div>
            <div id="edit">
                <form action="/createtodo/{{_id}}" method="get"><input class="btn btn-primary" type="submit" value="Edit"></form>
            </div>
            <div id="todo-completion">
                <input id="completionCheckbox" type="checkbox" {{#if_eq completion "on"}} checked {{/if_eq}} disabled>
                <label for="completionCheckbox">{{#if_eq completion "on"}} Done {{else}} Open {{/if_eq}}</label>
            </div>
            <div id="todo-desc">
                {{desc}}
            </div>
        </div>
    {{else}}
        <p>Your ToDo List is empty. Create one to get started!</p>
    {{/each}}
</main>
