<form id="new-todo" action="/newtodo{{#if entry._id}}{{/if}}/{{entry._id}}" method="post">
    <div id="new-todo-div">
        <label for="title">Title</label>
        <input id="title" name="title" placeholder="Enter title" value="{{entry.title}}" required>
        <label for="importance">Importance</label>
        <input id="importance" name="importance" type="number" min="1" max="5" value="{{entry.importance}}" required>
        <label for="due">Due Date</label>
        <input id="due" name="due" type="date" value="{{format_date entry.due}}" required>
        <label for="finished">Finished</label>
        <input id="finished" name="finished" {{#if_eq entry.completion "on"}} checked {{/if_eq}} type="checkbox">
        <label for="desc">Description</label>
        <textarea id="desc" name="desc">{{entry.desc}}</textarea>
    </div>
    <div id="new-todo-buttons">
        <input class="btn btn-primary" type="submit" value="{{#if entry._id}}Update{{else}}Create{{/if}}">
        <input class="btn btn-primary" name="return" type="submit" value="{{#if entry._id}}Update & {{else}}Create & {{/if}}Overview">
        <a href="/" class="btn btn-primary">Overview</a>
    </div>
</form>
